<template>
  <div class="map-wrap">
    <div id="ol-map" class="map-home"></div>
    <div class="control-option">
      <div class="icon" @click="onScale('+')">+</div>
      <div class="icon" @click="onScale('-')">-</div>
    </div>
    <div @click="goCenter" class="go-center">回到地图中心</div>
    <!-- 弹窗 -->
    <div ref="popupRef" class="popup" v-show="shopPopup">
      <div class="info">
        <ul>
          <li>信息1：xxx</li>
          <li>信息2：xxx</li>
          <li>信息3：xxx</li>
        </ul>
        <span
          style="
            position: absolute;
            width: 0;
            height: 0;
            border-width: 10px;
            border-style: solid;
            border-color: #fff transparent transparent transparent;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
          "
        ></span>
      </div>
    </div>
  </div>
</template>

<style lang="less" src="./index.less" scoped></style>
<script lang="ts" src="./index.ts"></script>
