.map-wrap {
  position: relative;
  margin: 10px;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  border: 1px solid #58a;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
  .map-home {
    width: 100%;
    height: 100%;
    background-color: #fcf9f2;
    z-index: 1;
    :deep(canvas) {
      cursor: pointer;
    }
  }
  .control-option {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;

    .icon {
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      background-color: #f5f5f5;
      border: 1px solid #58a;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 10px;
    }
  }
  .go-center {
    position: absolute;
    z-index: 2;
    color: #58a;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
}
.popup {
  width: 200px;
  background-color: white;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(177, 177, 177);
  .info {
    font-size: 14px;
    text-align: left;
    ul {
      padding-left: 0;
    }
  }
}
