@import "/@/mixin.less";
.container {
  width: 500px;
  height: 500px;
  margin: 150px auto;
  // position: relative;

  .button {
    position: relative;
  }
  .model {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #58a;
    border-radius: 8px;
  }
  .nested-enter-active,
  .nested-leave-active {
    transition: all 1s ease-in-out;
  }

  .nested-enter-from,
  .nested-leave-to {
    color: red;
    // transform: scale(1.8);
    transform: translateX(30px);
    opacity: 0;
  }
}
