<template>
  <div class="container" id="container">
    <button class="button" @click="click">
      {{ showText ? "隐藏文字" : "展示文字" }}
    </button>
    <div v-once>{{ showText }}</div>
    <Teleport v-if="getParentDom()" :to="getParentDom()">
      <Transition name="nested" :appear="true" mode="out-in">
        <div v-if="showText" class="model">
          <div class="inner">Hello</div>
        </div>
      </Transition>
    </Teleport>
  </div>
</template>

<style lang="less" src="./index.less"></style>
<script lang="ts" src="./index.ts"></script>
