@import "/@/mixin.less";

.app-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 100px minmax(300px, calc(100% - 150px));
  grid-template-columns: repeat(2, minmax(300px, calc(100% - 150px)));
  .nav {
    border: 1px solid red;
  }
  .content {
    border: 1px solid #58a;
  }
}
