<template>
  <div class="app-container">
    <div class="nav"></div>
    <div class="content"></div>
  </div>
</template>

<style lang="less" src="./index.less"></style>
<script lang="ts" src="./index.ts"></script>
