html,
body {
  padding: 0;
  margin: 0;
}
// #start 滚动条样式

/*滚动条宽 长,滚动条整体部分，其中的属性有width,height,background,border等。*/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/*滚动条的滑轨背景颜色,可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。*/

::-webkit-scrollbar-track {
  // background-color: transparent;
  // box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  // -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  // border-radius: 5px;
  display: none;
}

/* 滑块颜色 */
*::-webkit-scrollbar-thumb {
  background-color: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/*滚动条两端的按钮。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。*/

::-webkit-scrollbar-button {
  display: none;
}

/* 横向滚动条和纵向滚动条相交处尖角的颜色 */

::-webkit-scrollbar-corner {
  display: none;
}

body {
  overflow: hidden;
}

// #end 滚动条样式
