// 文字溢出显示省略号
.of-ellipsis() {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

// 多行文字溢出省略,@n为需要多少行省略
.of-n-ellipsis(@n) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: @n;
	-webkit-box-orient: vertical;
}

// flex布局
.fx() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

// 水平+垂直居中
.fx-center() {
	.fx();
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

// 水平居中+垂直拉伸
.fx-center-stretch() {
	.fx();
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

// 垂直拉伸
.fx-v-stretch() {
	.fx();
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

// 垂直居中
.fx-v-center() {
	.fx();
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

// 水平居中
.fx-h-center() {
	.fx();
	justify-content: center;
}

// 水平两端对齐+垂直居中
.fx-between-center() {
	.fx();
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.fx-between-stretch() {
	.fx();
	justify-content: space-between;
	align-items: stretch;
}

// 水平两端对齐
.fx-h-between() {
	.fx();
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

// 水平两端对齐
.fx-h-around() {
	.fx();
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

// 伸缩
.fx-auto() {
	-webkit-box-flex: 1;
	-ms-flex: auto;
	flex: auto;
}

// 禁止伸缩
.fx-none() {
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
}

// 列式布局
.fx-column() {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

// 水平右对齐
.fx-h-end() {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

// 基础border
.border() {
	border: 1px solid @border-color;
}

// 指定颜色的基础border
.border(@color) {
	border: 1px solid @color;
}

// transition
.transition(@prop, @duration, @timing-func: ease-in-out) {
	-webkit-transition: @prop @duration @timing-func;
	transition: @prop @duration @timing-func;
}

// 水平平移
.translateX(@offset) {
	-webkit-transform: translateX(@offset);
	transform: translateX(@offset);
}

// 垂直平移
.translateY(@offset) {
	transform+_: translateY(@offset);
}

.translate(@x, @y) {
	transform+_: translate(@x, @y);
}

.translate(@x, @y, @z) {
	transform+_: translate3d(@x, @y, @z);
}

.rotateY(@deg) {
	transform+_: rotateY(@deg);
}

.rotateZ(@deg) {
	transform+_: rotateZ(@deg);
}

// 外阴影
.box-shadow(@x: 0; @y: 0; @blur: 1px; @color: #ccc) {
	-webkit-box-shadow: @arguments;
	box-shadow: @arguments;
}

// 行级元素利用height和line-height垂直居中
.inline-v-center(@height; @border: 0px) {
	height: @height;
	line-height: @height - @border;
}

// 行级元素垂直水平居中
.inline-center(@height; @border: 0px) {
	text-align: center;
	.inline-v-center(@height, @border);
}

// transition
.transition(@prop, @duration, @timing-func: ease-in-out) {
	-webkit-transition: @prop @duration @timing-func;
	transition: @prop @duration @timing-func;
}

.linear-gradient(@direction; @color1; @color2) {
	background-image: -webkit-gradient(linear,
			left top,
			left bottom,
			from(@direction),
			color-stop(@color1),
			to(@color2));
	background-image: linear-gradient(@direction, @color1, @color2);
}

.linear-gradient(@direction; @color1; @color2; @color3) {
	background-image: -webkit-gradient(linear,
			left top,
			left bottom,
			from(@direction),
			color-stop(@color1),
			color-stop(@color2),
			to(@color3));
	background-image: linear-gradient(@direction, @color1, @color2, @color3);
}

.of-ellipsis-multi(@line: 3, @bg: #fff) {
	position: relative;
	max-height: @line * 1.5em;
	margin-right: -1em;
	padding-right: 1em;
	overflow: hidden;
	line-height: 1.5em;
	text-align: justify;

	&::before {
		position: absolute;
		right: 14px;
		bottom: 0;
		padding: 0 1px;
		background: @bg;
		content: '...';
	}

	&::after {
		position: absolute;
		right: 14px;
		width: 1em;
		height: 1em;
		margin-top: 0.2em;
		background: white;
		content: '';
	}
}

.clearfix() {
	zoom: 1;

	&::before,
	&::after {
		display: table;
		content: ' ';
	}

	&::after {
		clear: both;
		height: 0;
		font-size: 0;
		visibility: hidden;
	}
}

//截断打点显示
.ellipsis() {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}